For each entity set:
    
    1. add column names
    
    2. find columns contain null value
    
    3. change null as int: -1, text: 'unknown', timestamp: '1970-01-01 00:00:00'

In [1]:
import pandas as pd

In [2]:
warehouse = pd.read_csv('warehouse.csv', header=None)

In [3]:
warehouse.columns = ['w_id', 'w_name', 'w_street_1', 'w_street_2', 'w_city', 'w_state', 'w_zip', 'w_tax', 'w_ytd']

In [4]:
warehouse.isna().any()

w_id          False
w_name        False
w_street_1    False
w_street_2    False
w_city        False
w_state       False
w_zip         False
w_tax         False
w_ytd         False
dtype: bool

In [5]:
district = pd.read_csv('district.csv', header=None)

In [6]:
district.columns = ['d_w_id', 'd_id', 'd_name', 'd_street_1', 'd_street_2', 'd_city', 'd_state', 'd_zip', 'd_tax',
                   'd_ytd', 'd_next_o_id']

In [7]:
district.isna().any()

d_w_id         False
d_id           False
d_name         False
d_street_1     False
d_street_2     False
d_city         False
d_state        False
d_zip          False
d_tax          False
d_ytd          False
d_next_o_id    False
dtype: bool

In [31]:
customer = pd.read_csv('customer.csv', header=None)

In [32]:
customer.columns = ['c_w_id', 'c_d_id', 'c_id', 'c_first', 'c_middle', 'c_last', 'c_street_1', 'c_street_2', 'c_city',
                   'c_state', 'c_zip', 'c_phone', 'c_since', 'c_credit', 'c_credit_lim', 'c_discount', 'c_balance', 
                   'c_ytd_payment', 'c_payment_cnt', 'c_delivery_cnt', 'c_data']

In [33]:
customer.isna().any()

c_w_id            False
c_d_id            False
c_id              False
c_first           False
c_middle          False
c_last            False
c_street_1        False
c_street_2        False
c_city            False
c_state            True
c_zip             False
c_phone           False
c_since           False
c_credit          False
c_credit_lim      False
c_discount        False
c_balance         False
c_ytd_payment     False
c_payment_cnt     False
c_delivery_cnt    False
c_data            False
dtype: bool

In [34]:
customer['c_state'] = customer['c_state'].fillna('unknown')

In [35]:
orders = pd.read_csv('order.csv', header=None)

In [36]:
orders.columns = ['o_w_id', 'o_d_id', 'o_id', 'o_c_id', 'o_carrier_id', 'o_ol_cnt', 'o_all_local', 'o_entry_d']

In [37]:
orders.isna().any()

o_w_id          False
o_d_id          False
o_id            False
o_c_id          False
o_carrier_id     True
o_ol_cnt        False
o_all_local     False
o_entry_d       False
dtype: bool

In [39]:
orders['o_carrier_id'] = orders['o_carrier_id'].fillna(-1)

In [40]:
item = pd.read_csv('item.csv', header=None)

In [41]:
item.columns = ['i_id', 'i_name', 'i_price', 'i_im_id', 'i_data']

In [42]:
item.isna().any()

i_id       False
i_name     False
i_price    False
i_im_id    False
i_data     False
dtype: bool

In [43]:
order_line = pd.read_csv('order-line.csv', header=None)

In [44]:
order_line.columns = ['ol_w_id', 'ol_d_id', 'ol_o_id', 'ol_number', 'ol_i_id', 'ol_delivery_d', 'ol_amount', 'ol_supply_w_id',
                     'ol_quantity', 'ol_dist_info']

In [45]:
order_line.isna().any()

ol_w_id           False
ol_d_id           False
ol_o_id           False
ol_number         False
ol_i_id           False
ol_delivery_d      True
ol_amount         False
ol_supply_w_id    False
ol_quantity       False
ol_dist_info      False
dtype: bool

In [46]:
order_line

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
0,1,1,1,1,20822,2021-08-27 09:50:32.527,0.00,1,5,fjuwillmmaqaqzbqesyifas
1,1,1,1,2,62266,2021-08-27 09:50:32.527,0.00,1,5,bbooaqpuuddhkyqephoaszo
2,1,1,1,3,47297,2021-08-27 09:50:32.527,0.00,1,5,zfzmqutfxfvqpldlsjqbivz
3,1,1,1,4,61218,2021-08-27 09:50:32.527,0.00,1,5,ochisuyvhtrtocfyifwyydd
4,1,1,1,5,57008,2021-08-27 09:50:32.527,0.00,1,5,gfchgbullzaliifvmkueqgw
...,...,...,...,...,...,...,...,...,...,...
3748844,10,10,3000,15,58777,NaN,5295.01,10,5,ygegziqpgynjkubufakampl
3748845,10,10,3000,16,91714,NaN,7251.23,10,5,knzjapuugkjhpkbcgkonujc
3748846,10,10,3000,17,43811,NaN,2327.84,10,5,qrgnecokgbyqxjutulssekx
3748847,10,10,3000,18,98169,NaN,2874.15,10,5,hfefxneahqjjhfzxkoxqjqp
3748848,10,10,3000,19,96498,NaN,5730.80,10,5,hytcvvkpsxyuzimaffbesvm

In [47]:
order_line['ol_delivery_d'] = order_line['ol_delivery_d'].fillna(pd.Timestamp(0))

In [48]:
order_line

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
0,1,1,1,1,20822,2021-08-27 09:50:32.527,0.00,1,5,fjuwillmmaqaqzbqesyifas
1,1,1,1,2,62266,2021-08-27 09:50:32.527,0.00,1,5,bbooaqpuuddhkyqephoaszo
2,1,1,1,3,47297,2021-08-27 09:50:32.527,0.00,1,5,zfzmqutfxfvqpldlsjqbivz
3,1,1,1,4,61218,2021-08-27 09:50:32.527,0.00,1,5,ochisuyvhtrtocfyifwyydd
4,1,1,1,5,57008,2021-08-27 09:50:32.527,0.00,1,5,gfchgbullzaliifvmkueqgw
...,...,...,...,...,...,...,...,...,...,...
3748844,10,10,3000,15,58777,1970-01-01 00:00:00,5295.01,10,5,ygegziqpgynjkubufakampl
3748845,10,10,3000,16,91714,1970-01-01 00:00:00,7251.23,10,5,knzjapuugkjhpkbcgkonujc
3748846,10,10,3000,17,43811,1970-01-01 00:00:00,2327.84,10,5,qrgnecokgbyqxjutulssekx
3748847,10,10,3000,18,98169,1970-01-01 00:00:00,2874.15,10,5,hfefxneahqjjhfzxkoxqjqp
3748848,10,10,3000,19,96498,1970-01-01 00:00:00,5730.80,10,5,hytcvvkpsxyuzimaffbesvm

In [49]:
stock = pd.read_csv('stock.csv', header=None)

In [50]:
stock.columns = ['s_w_id', 's_i_id', 's_quantity', 's_ytd', 's_order_cnt', 's_remote_cnt', 's_dist_01', 's_dist_02', 's_dist_03', 's_dist_04', 's_dist_05',
                's_dist_06','s_dist_07', 's_dist_08', 's_dist_09', 's_dist_10', 's_data']

In [51]:
stock.isna().any()

s_w_id          False
s_i_id          False
s_quantity      False
s_ytd           False
s_order_cnt     False
s_remote_cnt    False
s_dist_01       False
s_dist_02       False
s_dist_03       False
s_dist_04       False
s_dist_05       False
s_dist_06       False
s_dist_07       False
s_dist_08       False
s_dist_09       False
s_dist_10       False
s_data          False
dtype: bool

In [52]:
warehouse.to_csv('warehouse.csv', index=False)

In [53]:
district.to_csv('district.csv', index=False)

In [54]:
customer.to_csv('customer.csv', index=False)

In [55]:
orders.to_csv('order.csv', index=False)

In [56]:
item.to_csv('item.csv', index=False)

In [57]:
order_line.to_csv('order-line.csv', index=False)

In [58]:
stock.to_csv('stock.csv', index=False)