For each entity set:
    
    1. add column names
    
    2. find columns contain null value
    
    3. change null as int: -1, text: 'unknown', timestamp: '1970-01-01 00:00:00'

In [1]:
import pandas as pd

In [2]:
warehouse = pd.read_csv('warehouse.csv', header=None)

In [3]:
warehouse.columns = ['w_id', 'w_name', 'w_street_1', 'w_street_2', 'w_city', 'w_state', 'w_zip', 'w_tax', 'w_ytd']

In [4]:
warehouse.isna().any()

w_id          False
w_name        False
w_street_1    False
w_street_2    False
w_city        False
w_state       False
w_zip         False
w_tax         False
w_ytd         False
dtype: bool

In [5]:
district = pd.read_csv('district.csv', header=None)

In [6]:
district.columns = ['d_w_id', 'd_id', 'd_name', 'd_street_1', 'd_street_2', 'd_city', 'd_state', 'd_zip', 'd_tax',
                   'd_ytd', 'd_next_o_id']

In [7]:
district.isna().any()

d_w_id         False
d_id           False
d_name         False
d_street_1     False
d_street_2     False
d_city         False
d_state        False
d_zip          False
d_tax          False
d_ytd          False
d_next_o_id    False
dtype: bool

In [8]:
customer = pd.read_csv('customer.csv', header=None)

In [9]:
customer.columns = ['c_w_id', 'c_d_id', 'c_id', 'c_first', 'c_middle', 'c_last', 'c_street_1', 'c_street_2', 'c_city',
                   'c_state', 'c_zip', 'c_phone', 'c_since', 'c_credit', 'c_credit_lim', 'c_discount', 'c_balance', 
                   'c_ytd_payment', 'c_payment_cnt', 'c_delivery_cnt', 'c_data']

In [10]:
customer.isna().any()

c_w_id            False
c_d_id            False
c_id              False
c_first           False
c_middle          False
c_last            False
c_street_1        False
c_street_2        False
c_city            False
c_state            True
c_zip             False
c_phone           False
c_since           False
c_credit          False
c_credit_lim      False
c_discount        False
c_balance         False
c_ytd_payment     False
c_payment_cnt     False
c_delivery_cnt    False
c_data            False
dtype: bool

In [11]:
customer['c_state'] = customer['c_state'].fillna('unknown')

In [12]:
orders = pd.read_csv('order.csv', header=None)

In [13]:
orders.columns = ['o_w_id', 'o_d_id', 'o_id', 'o_c_id', 'o_carrier_id', 'o_ol_cnt', 'o_all_local', 'o_entry_d']

In [14]:
orders.isna().any()

o_w_id          False
o_d_id          False
o_id            False
o_c_id          False
o_carrier_id     True
o_ol_cnt        False
o_all_local     False
o_entry_d       False
dtype: bool

In [15]:
orders['o_carrier_id'] = orders['o_carrier_id'].fillna(-1)

In [16]:
orders = orders.astype({"o_carrier_id": int})

In [17]:
item = pd.read_csv('item.csv', header=None)

In [18]:
item.columns = ['i_id', 'i_name', 'i_price', 'i_im_id', 'i_data']

In [19]:
item.isna().any()

i_id       False
i_name     False
i_price    False
i_im_id    False
i_data     False
dtype: bool

In [20]:
order_line = pd.read_csv('order-line.csv', header=None)

In [21]:
order_line.columns = ['ol_w_id', 'ol_d_id', 'ol_o_id', 'ol_number', 'ol_i_id', 'ol_delivery_d', 'ol_amount', 'ol_supply_w_id',
                     'ol_quantity', 'ol_dist_info']

In [22]:
order_line.isna().any()

ol_w_id           False
ol_d_id           False
ol_o_id           False
ol_number         False
ol_i_id           False
ol_delivery_d      True
ol_amount         False
ol_supply_w_id    False
ol_quantity       False
ol_dist_info      False
dtype: bool

In [23]:
order_line

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
0,1,1,1,1,6735,2021-08-27 09:50:32.527,184.00,1,5,gowqsgtvvpcnznfctyyonng
1,1,1,1,2,13488,2021-08-27 09:50:32.527,118.00,1,5,dwzyhzcrwebxtxomhkffsda
2,1,1,1,3,14276,2021-08-27 09:50:32.527,61.00,1,5,crlxwsjdizrazhxkggdyhgd
3,1,1,1,4,16523,2021-08-27 09:50:32.527,115.00,1,5,defvoazyshwnnpareviadfc
4,1,1,1,5,20431,2021-08-27 09:50:32.527,148.00,1,5,htejfzhjukndzifqfhonrae
...,...,...,...,...,...,...,...,...,...,...
3748571,10,10,3000,15,91714,NaN,7251.23,10,5,knzjapuugkjhpkbcgkonujc
3748572,10,10,3000,16,93633,NaN,4030.26,10,5,tunzqhuxswzcctqdyztgius
3748573,10,10,3000,17,96498,NaN,5730.80,10,5,hytcvvkpsxyuzimaffbesvm
3748574,10,10,3000,18,98169,NaN,2874.15,10,5,hfefxneahqjjhfzxkoxqjqp
3748575,10,10,3000,19,99931,NaN,2888.57,10,5,llivlptycjanzyzgueymcfn

In [24]:
order_line['ol_delivery_d'] = order_line['ol_delivery_d'].fillna(pd.Timestamp(0))

In [25]:
order_line

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
0,1,1,1,1,6735,2021-08-27 09:50:32.527,184.00,1,5,gowqsgtvvpcnznfctyyonng
1,1,1,1,2,13488,2021-08-27 09:50:32.527,118.00,1,5,dwzyhzcrwebxtxomhkffsda
2,1,1,1,3,14276,2021-08-27 09:50:32.527,61.00,1,5,crlxwsjdizrazhxkggdyhgd
3,1,1,1,4,16523,2021-08-27 09:50:32.527,115.00,1,5,defvoazyshwnnpareviadfc
4,1,1,1,5,20431,2021-08-27 09:50:32.527,148.00,1,5,htejfzhjukndzifqfhonrae
...,...,...,...,...,...,...,...,...,...,...
3748571,10,10,3000,15,91714,1970-01-01 00:00:00,7251.23,10,5,knzjapuugkjhpkbcgkonujc
3748572,10,10,3000,16,93633,1970-01-01 00:00:00,4030.26,10,5,tunzqhuxswzcctqdyztgius
3748573,10,10,3000,17,96498,1970-01-01 00:00:00,5730.80,10,5,hytcvvkpsxyuzimaffbesvm
3748574,10,10,3000,18,98169,1970-01-01 00:00:00,2874.15,10,5,hfefxneahqjjhfzxkoxqjqp
3748575,10,10,3000,19,99931,1970-01-01 00:00:00,2888.57,10,5,llivlptycjanzyzgueymcfn

In [26]:
stock = pd.read_csv('stock.csv', header=None)

In [27]:
stock.columns = ['s_w_id', 's_i_id', 's_quantity', 's_ytd', 's_order_cnt', 's_remote_cnt', 's_dist_01', 's_dist_02', 's_dist_03', 's_dist_04', 's_dist_05',
                's_dist_06','s_dist_07', 's_dist_08', 's_dist_09', 's_dist_10', 's_data']

In [28]:
stock.isna().any()

s_w_id          False
s_i_id          False
s_quantity      False
s_ytd           False
s_order_cnt     False
s_remote_cnt    False
s_dist_01       False
s_dist_02       False
s_dist_03       False
s_dist_04       False
s_dist_05       False
s_dist_06       False
s_dist_07       False
s_dist_08       False
s_dist_09       False
s_dist_10       False
s_data          False
dtype: bool

In [29]:
stock = stock.astype({"s_ytd": int})

In [30]:
warehouse.to_csv('warehouse.csv', index=False)

In [31]:
district.to_csv('district.csv', index=False)

In [32]:
customer.to_csv('customer.csv', index=False)

In [33]:
orders.to_csv('order.csv', index=False)

In [34]:
item.to_csv('item.csv', index=False)

In [ ]:
order_line.to_csv('order-line.csv', index=False)

In [ ]:
stock.to_csv('stock.csv', index=False)

In [4]:
order_line = pd.read_csv("order-line.csv")

In [35]:
customer_order_items = order_line[['ol_w_id', 'ol_d_id', 'ol_o_id', 'ol_i_id']]

In [36]:
customer_order_items.columns = ['o_w_id', 'o_d_id', 'o_id', 'ol_i_id']

In [38]:
customer_order_items = pd.merge(customer_order_items, orders, on=['o_w_id', 'o_d_id', 'o_id'], how='left')

In [39]:
customer_order_items

,o_w_id,o_d_id,o_id,ol_i_id,o_c_id,o_carrier_id,o_ol_cnt,o_all_local,o_entry_d
0,1,1,1,6735,2607,2,13,1,2021-08-27 09:50:32.527
1,1,1,1,13488,2607,2,13,1,2021-08-27 09:50:32.527
2,1,1,1,14276,2607,2,13,1,2021-08-27 09:50:32.527
3,1,1,1,16523,2607,2,13,1,2021-08-27 09:50:32.527
4,1,1,1,20431,2607,2,13,1,2021-08-27 09:50:32.527
...,...,...,...,...,...,...,...,...,...
3748571,10,10,3000,91714,1314,-1,19,1,2021-08-27 09:50:40.33
3748572,10,10,3000,93633,1314,-1,19,1,2021-08-27 09:50:40.33
3748573,10,10,3000,96498,1314,-1,19,1,2021-08-27 09:50:40.33
3748574,10,10,3000,98169,1314,-1,19,1,2021-08-27 09:50:40.33
3748575,10,10,3000,99931,1314,-1,19,1,2021-08-27 09:50:40.33

In [40]:
customer_order_items = customer_order_items[['o_w_id', 'o_d_id', 'o_id', 'ol_i_id', 'o_c_id']]

In [41]:
customer_order_items.columns = ['coi_w_id', 'coi_d_id', 'coi_o_id', 'coi_i_id', 'coi_c_id']

In [42]:
customer_order_items

         coi_w_id  coi_d_id  coi_o_id  coi_i_id  coi_c_id
0               1         1         1      6735      2607
1               1         1         1     13488      2607
2               1         1         1     14276      2607
3               1         1         1     16523      2607
4               1         1         1     20431      2607
...           ...       ...       ...       ...       ...
3748571        10        10      3000     91714      1314
3748572        10        10      3000     93633      1314
3748573        10        10      3000     96498      1314
3748574        10        10      3000     98169      1314
3748575        10        10      3000     99931      1314

[3748576 rows x 5 columns]

In [43]:
customer_order_items.to_csv('customer_order_items.csv', index=False)

In [2]:
customer_order_items = pd.read_csv('customer_order_items.csv')

In [43]:
customer_order = customer_order_items.groupby(['coi_w_id','coi_d_id','coi_o_id', 'coi_c_id'])['coi_i_id'].apply(list).reset_index(name='i_ids')

In [46]:
customer_order

,coi_w_id,coi_d_id,coi_o_id,coi_c_id,i_ids
0,1,1,1,2607,"[6735, 13488, 14276, 16523, 20431, 20822, 3360..."
1,1,1,2,2123,"[3831, 4928, 5307, 6719, 19822, 34918, 38826, ..."
2,1,1,3,2637,"[3885, 12353, 12822, 13766, 31644, 38857, 4055..."
3,1,1,4,2748,"[27334, 28395, 31468, 35259, 36547, 39421, 536..."
4,1,1,5,1173,"[5332, 12855, 18474, 38897, 60960, 68580, 7103..."
...,...,...,...,...,...
299995,10,10,2996,2780,"[263, 16541, 34077, 48021, 48870, 75710, 81541..."
299996,10,10,2997,1604,"[479, 3596, 5005, 15601, 16123, 23699, 25222, ..."
299997,10,10,2998,2126,"[25358, 35195, 63727, 78055, 86256]"
299998,10,10,2999,642,"[18972, 22947, 23779, 26278, 44963, 46311, 666..."
299999,10,10,3000,1314,"[2703, 4696, 5561, 12246, 24572, 26446, 35090,..."

In [47]:
customer_order.columns = ['co_w_id', 'co_d_id', 'co_o_id', 'co_c_ids', 'co_i_ids']

In [48]:
customer_order.to_csv('customer_order.csv', index=False)